{
  "tabWidth": 2,
  "tabs": false,
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQoute": true,
  "trailingComa": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "printWidth": 120
}
